@import "tailwindcss";

html,
body {
  height: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow: hidden;
}

#root {
  height: 100%;
}

@theme static {
  --color-primary: var(--color-rose-100);
  --color-secondary: var(--color-rose-200);
}
